extends layout 

block content
  h2= title
  hr
  ul
    li
       a(href="/admin/add") 
        button(type="button") Add new hotel
    br
    br
    li
      a(href="/admin/edit-remove") 
        button(type="button") Edit / Remove Hotel
    br
    br
    li
      a(href="/admin/orders") 
        button(type="button") View bookings
    br
    br
    br
    br
    br
    br
    br
    br
    